body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Open Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

// span {
//   font-size: min(max(15px, 1.5vw), 20px);
// }


* {
  box-sizing: border-box;
}